@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;500;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  body {
    overflow-x: hidden;
    @apply font-custom;
  }
}
.p{
  @apply text-center text-sm leading-6 text-grayish-blue py-4 font-medium
}
.h2{
  @apply text-center text-3xl text-dark-blue
}
.card-p{
  font-size: .8rem;
}
.button{
  @apply text-very-light-gray bg-gradient-to-r from-lime-green to-bringht-cyan rounded-3xl py-3 px-9 capitalize font-bold text-sm duration-200 hover:opacity-80
}
.menu-nav-a{
  @apply text-sm text-grayish-blue duration-200 hover:text-dark-blue after:content-[''] after:w-full after:h-1 after:block after:relative after:-bottom-5 after:bg-none hover:after:bg-gradient-to-r from-lime-green to-bringht-cyan
}
.body-blocked{
  height: 100%;
  overflow-y: hidden;
}
.filter-green:hover{
  cursor:pointer;
  filter: invert(34%) sepia(100%) saturate(364%) hue-rotate(79deg) brightness(89%) contrast(91%);
}